{%extends 'base.html' %}
{% block title %} 2.	PRUEBA DE BASE DE DATOS {% endblock  %}
{% block content %}

   

<!– • bOTS rpa–>
          <div class="card">
            <div class="card-header">
                RPA Bots
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>
                  <img src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2022/07/robot-aprende-imaginarse-mismo-2758883.jpg?tf=3840x" class="img-fluid" width="10%" height="10%" >
                  <br>
                  Espacio para ejcutar Robot de manera manual, por medio de este orquetador,
                    Para que el robot funcione el servidor debe tener instalado python, configurarlo ,
                     y tenerlo configurado para abrir con el interpret de python.
                
                     <br>
                      <form action="lauchRPA" methods="GET" >
            
                        <a href="#">
                          <button class="btn btn-outline-success" >Activa el Robot</button>
                        </a> 
                     </form>
                    
                    



                </p>
                <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
              </blockquote>
            </div>
          </div>          
 
    {% endblock  %}

